.container-titles {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-color: blueviolet;
}

.container-titles a {
  margin: 0 0.5rem;
}

.container-titles .separator {
  width: 4px;
  height: 2rem;
  background-color: #000;
  margin: 0 0.5rem;
  align-self: center;
}
