@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

:root {
  --card-width: 600px; /* Adjust the card width as desired */
  --card-height: 600px; /* Adjust the card height as desired */
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  justify-items: center;
  gap: var(--size-5);
  padding: var(--size-3);
  border-radius: 8px;
}

.eventCard {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--surface-2);
  border: 1px solid var(--surface-1);
  padding: var(--size-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
  border: solid 1px blueviolet;
}

body {
  display: grid;
}

.btn {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #52319eb7;
  padding: 10px 30px;
  border: solid #6300cc 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 3px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #0066cc;
  border: solid 2px #0066cc;
}
