.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(24, 20, 20);
}

.title {
  margin-bottom: 20px;
  color: white;
}

.event {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
