.form-container {
  align-items: center;
  justify-self: center;
  display: flex;
  background-color: #343a40;
  border: solid blueviolet 1px;
  border-radius: var(--radius-3);
}

h3 {
  color: white;
}

.form-input {
  margin: 1%;
  border: solid white;
}
