.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 16%, rgba(13, 136, 135, 1) 73%, rgba(145, 0, 255, 1) 100%);
  border: solid 2px black;
}

.header-left {
  font-size: 30px;
  font-weight: bold;
  border: solid red;
}

.header-right {
  display: flex;
  align-items: center;
  border: solid red;
}

.header-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 20px;
}
