@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* :root {
  --card-width: 625px;
  --card-height: 625px;
} */

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  justify-items: center;
  gap: var(--size-5);
  padding: var(--size-3);
  border-radius: 8px;
}

.personalEventCard {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--surface-2);
  border: 1px solid var(--surface-1);
  padding: var(--size-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
  border: solid 1px blueviolet;
}

body {
  display: grid;
}

.image {
  width: 270px;
  height: 170px;
  margin: 1%;
}
